@model Networking_Project.Models.Hall

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hall</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.HallNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HallNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_of_seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_seats)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Halls")
        </div>
    }
</div>
